# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.env
.env

Abdelrahim Elhaj — CV.pdf
Abdelrahim Elhaj — CV-sv.pdf
Cover Letter — Rahim Elhaj.pdf
personlig brev — Rahim Elhaj.pdf